.vscode/launch.json
keepupthepace/__pycache__/*
keepupthepace/profilem/__pycache__/*
keepupthespaceenv/*
tests/__pycache__/*
keepupthepace/kivy-gettext-example/*
keepupthepace/compendium/__pycache__/*
keepupthepace/.buildozer/*
